@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', 'Arial', sans-serif;
  background-color: #8f85ff;
  line-height: 1.5;
  color: white;
}

p {
  font-family: Arial, sans-serif;
  margin: 16px 0;
}

h1 {
  font-size: 50px;
}

h4 {
  font-size: 18px;
}

img {
  width: 100px;
  margin-right: 16px;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.page-container {
  width: 1000px;
  /* Jup, dit is bad practise maar houdt de code overzichtelijk voor de tutorial: */
  margin: 60px auto;
}

.colums-3 {
  column-count: 3;
}

.colums-2 {
  column-count: 2;
}

.nav-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  background-color: #3624ff;
  display: flex;
  justify-content: center;
  height: 60px;
}

ul {
  list-style-type: none;
  flex-basis: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-link {
  border-bottom: 2px solid white;
}